/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

$blueprint-grid-columns: 20;
$blueprint-grid-width: 38px;
$blueprint-grid-margin: 10px;

@import "blueprint";

@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";

$base-font-size: 14px;
$base-line-height: 14px;

@import "compass/typography/vertical_rhythm";
@import "compass/typography/text/replacement";
@import "compass/css3/transform";
@import "compass/css3/opacity";

@include establish-baseline;

@font-face {
    font-family: 'Harabara';
    src: url('/fonts/harabara.eot');
    src: url('/fonts/harabara.eot?#iefix') format('embedded-opentype'),
         url('/fonts/harabara.woff') format('woff'),
         url('/fonts/harabara.ttf') format('truetype'),
         url('/fonts/harabara.svg#Harabara') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfixed {
    @include pie-clearfix;
}

.typography {
    p {
        @include adjust-font-size-to(13px, 1.4);
        padding: 0 0 7px;
    }

    h1 {
        @include adjust-font-size-to(24px, 2);
        font-family: "Harabara";
        letter-spacing: 1px;
        color: #d56d35;
    }

    h2 {
        @include adjust-font-size-to(14px, 2);
        font-weight: bold;
    }

    h3 {
        @include adjust-font-size-to(14px, 2);
    }

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }
}

body {
    background: #455630 url("../images/bg.jpg") no-repeat center top;
    color: #402d0b;
    font-family: sans-serif;
}

#Container {
    @extend .clearfixed;
    @include container;
    @include box-shadow(black 0 0 10px);
    @include border-radius(10px);
    margin-top: 35px;
    margin-bottom: 35px;
    background: #fcfcfa;
    color: #402d0b;

    &>header {
        position: relative;
        z-index: 1;

        h1 {
            @include leader(0.5);
            @include trailer(0.3);
            position: relative;
            display: inline-block;
            top: 26px;
            left: 20px;
            z-index: 2;
        }

        a {
            @include hide-text;
            display: block;
            background: url("../images/logo.png") no-repeat left top;
            height: 111px;
            width: 235px;
        }

        img {
            position: relative;
            top: -65px;
            float: left;
            margin-bottom: -93px;
            border-bottom: 28px solid #fcb32f;
            z-index: 1;
        }
    }

    &>nav {
        @include rotate(-8.8deg);
        text-align: center;
        position: relative;
        top: -315px;
        float: right;
        z-index: 2;

        li {
            display: inline-block;

            &.active {
            }
        }

        a {
            @include adjust-font-size-to(28px, 2);
            display: block;
            padding: 0 10px;
            text-transform: lowercase;
            text-decoration: none;
            color: #d56d35;
            font-family: "Harabara";
            letter-spacing: 1px;
        }
    }

    &>footer {
        @include adjust-font-size-to(18px, 2);
        padding: 25px 70px;
        color: #402d0b;
        background: #fcb32f;
        text-align: center;
    }
}

#InnerContainer {
    @extend .clearfixed;
    position: relative;

    .content {
        @include column($blueprint-grid-columns, true);
    }

    div[role="main"] {
        @extend .typography;
        padding: 1em 20px;
    }
}

::-moz-selection {
    background: #fcb32f;
    color: #455630;
    text-shadow: none;
}

::selection {
    background: #fcb32f;
    color: #455630;
    text-shadow: none;
}

/**
 * Gallery
 */
div.gallery {
    div#slideshow {
        text-align: center;

        a {
            text-decoration: none;
        }

        img {
          max-width: 100%;
        }
    }

    div#thumbs {
        ul.thumbs {
            text-align: center;
            margin-top: 25px;

            li {
                @include opacity(0.5);
                display: inline-block;
                border: 1px solid gray;
                padding: 5px 8px;
                margin: 0 8px 8px;
                transition: .5s ease-out .25s;

                &:hover, &.selected {
                    @include opacity(1);
                    transition: .5s ease-in 0s;
                }

                a {
                    display: inline-block;
                    width: 100px;
                    height: 0;
                    padding-bottom: percentage(9 / 16);
                    background-size: cover;
                }
            }
        }

        div.pagination {
            a, span.current {
                display: none;
            }

            a[title="<"], a[title=">"] {
                @include hide-text;
                display: block;
                position: relative;
                border: none;
                background: url("../images/arrow-prev.png") no-repeat top left;
                height: 60px;
                width: 24px;
                margin-top: -75px;
            }

            a[title="<"] {
                float: left;
                left: 10px;
            }

            a[title=">"] {
                background-image: url("../images/arrow-next.png");
                float: right;
            }
        }
    }
}

.lt-ie9 {
    #Container {
        header {
            img {
                border-width: 50px;
            }
        }
        nav {
            top: -10px;
            float: none;

            a {
                color: #000000;
            }
        }
    }
}

.lt-ie8 {
    #Container {
        nav {
            @extend .clearfixed;

            li {
                display: block;
                float: left;
            }
        }
    }
}

/**
 * Oldie styles
 */
/*
.oldie {
    .header.main #site-name {
        display: block;
        width: 800px;
        margin: 0 -20px;
        padding: .1em 10px .2em 30px;
    }
    #sidebar-first {
        margin-top: 0.6em;
    }
    .footer.main {
        padding: 10px;
    }
    p img {
        float: left;
    }
}
*/
